@{
    ViewBag.Title = "Contact";
}


<address>
    Đồng Tháp<br />
    Cao Lãnh, ĐT<br />
    <abbr title="Phone">P:</abbr>
    094-357-22-51
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Quảng cáo:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>