@{
    ViewBag.Title = "LienHe";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        An Giang<br />
        An Phú, Long Bình<br />
        <abbr title="Phone">SĐT:</abbr>
        0334559101
    </address>

    <address>
        <strong>Hỗ Trợ:</strong>   <a href="mailto:vangcongtin@gmail.com">vangcongtin@gmail.com</a><br />
        <strong>Tiếp Thị:</strong> <a href="mailto:vangcongtin@gmail.com">vangcongtin@gmail.com</a>
    </address>
</main>